<header><h1>Build Your Own</h1></header>
<div id="building" class="cf">
	<div id="toy-chest" class="starting_point">
		<p class="toy-description">Lines</p>
		<div id="short-line-1" class="draggable"></div>
		<div id="short-line-2" class="draggable"></div>
		<div id="short-line-3" class="draggable"></div>
		<div id="short-line-4" class="draggable"></div>
		<div id="short-line-5" class="draggable"></div>
		<div id="short-line-6" class="draggable"></div>
		<div id="short-line-7" class="draggable"></div>
		<div id="medium-line-1" class="draggable"></div>
		<div id="medium-line-2" class="draggable"></div>
		<div id="medium-line-3" class="draggable"></div>
		<div id="medium-line-4" class="draggable"></div>
		<div id="medium-line-5" class="draggable"></div>
		<div id="medium-line-6" class="draggable"></div>
		<div id="medium-line-7" class="draggable"></div>
		<div id="long-line-1" class="draggable"></div>
		<div id="long-line-2" class="draggable"></div>
		<div id="long-line-3" class="draggable"></div>
		<div id="long-line-4" class="draggable"></div>
		<div id="long-line-5" class="draggable"></div>
		<div id="long-line-6" class="draggable"></div>
		<div id="long-line-7" class="draggable"></div>
		<p class="toy-description">Squares</p>
		<div id="square-1" class="draggable"></div>
		<div id="square-2" class="draggable"></div>
		<div id="square-3" class="draggable"></div>
		<div id="square-4" class="draggable"></div>
		<div id="square-5" class="draggable"></div>
		<div id="square-6" class="draggable"></div>
		<p class="toy-description">Circles</p>
		<div id="circle-1" class="draggable"></div>
		<div id="circle-2" class="draggable"></div>
		<div id="circle-3" class="draggable"></div>
		<div id="circle-4" class="draggable"></div>
		<div id="circle-5" class="draggable"></div>
		<div id="circle-6" class="draggable"></div>
	</div>
	<div id="parents" class="dropzone">
		<p class="build-here">Build It Here</p>
		<div id="playground" class="dropzone"></div>
	</div>
</div>