<h1>Become an Architect</h1>
<h2><small>Now is your time.</small></h2>
<p>Have you ever wanted to build your own skyscraper or train station? Now's your chance.</p>
<div id="building" class="cf">
	<div id="toy-chest" class="starting_point col-md-3">
		<p class="toy-description">Lines</p>
		<div id="short-line-1" class="drag-noresize"></div>
		<div id="short-line-2" class="drag-noresize"></div>
		<div id="short-line-3" class="drag-noresize"></div>
		<div id="short-line-4" class="drag-noresize"></div>
		<div id="short-line-5" class="drag-noresize"></div>
		<div id="short-line-6" class="drag-noresize"></div>
		<div id="short-line-7" class="drag-noresize"></div>
		<div id="medium-line-1" class="drag-noresize"></div>
		<div id="medium-line-2" class="drag-noresize"></div>
		<div id="medium-line-3" class="drag-noresize"></div>
		<div id="medium-line-4" class="drag-noresize"></div>
		<div id="medium-line-5" class="drag-noresize"></div>
		<div id="medium-line-6" class="drag-noresize"></div>
		<div id="medium-line-7" class="drag-noresize"></div>
		<div id="long-line-1" class="drag-noresize"></div>
		<div id="long-line-2" class="drag-noresize"></div>
		<div id="long-line-3" class="drag-noresize"></div>
		<div id="long-line-4" class="drag-noresize"></div>
		<div id="long-line-5" class="drag-noresize"></div>
		<div id="long-line-6" class="drag-noresize"></div>
		<div id="long-line-7" class="drag-noresize"></div>
		<p class="toy-description">Squares</p>
		<div id="square-1" class="draggable"></div>
		<div id="square-2" class="draggable"></div>
		<div id="square-3" class="draggable"></div>
		<div id="square-4" class="draggable"></div>
		<div id="square-5" class="draggable"></div>
		<div id="square-6" class="draggable"></div>
		<p class="toy-description">Circles</p>
		<div id="circle-1" class="draggable"></div>
		<div id="circle-2" class="draggable"></div>
		<div id="circle-3" class="draggable"></div>
		<div id="circle-4" class="draggable"></div>
		<div id="circle-5" class="draggable"></div>
		<div id="circle-6" class="draggable"></div>
	</div>
	<div id="parents" class="dropzone col-md-9">
		<h3 class="build-here">Build It Here</h3>
		<div id="playground" class="dropzone col-md-12 col-sm-12 col-xs-12"></div>
	</div>
</div>
<div>
	<button type="button" class="btn btn-default pull-right" aria-label="Refresh">
		<a href="/building"><span class="glyphicon glyphicon-refresh" aria-hidden="false"> Refresh</a></span>
	</button>
</div>