<script type="text/javascript">
	swal({
		title: 'Instructions',
		text: 'Click and Drag Shapes.<p>Buld you favorite building.</p><p>Resize the shapes.</p><p>Hit refesh to start over.</p><p>Refres the page to see these instructions again.</p>',
		type: 'info',
		confirmButtonColor: '#7DAE22',
		confirmButtonText: 'Build It',
		allowOutsideClick: 'true',
		animation: 'slide-from-top',
		html: true,
		timer: 5000
	});

</script>
<h1 class="kids_header">Hey! <small>Ever wondered what being a Dylo Design Architect is like?</small></h1>

<p>Click and Drag the centers of the Shapes and drag it to the gray box to make your own building. You can also click and drag the lines of the shapes to resize the shapes!</p>

<div id="building" class="cf">
	<div class="row">
		<div id="toy-chest" class="starting_point col-md-5 col-lg-4">
			<%= render "shapes" %>
		</div>
		<div id="parents" class="dropzone col-md-7 col-lg-8">
			<h3 class="build-here">Build It Here</h3>
			<div id="playground" class="dropzone"></div>
		</div>
	</div>
	<div>
		<button type="button" class="btn btn-default pull-right" aria-label="Refresh">
			<a href="/building"><span class="glyphicon glyphicon-refresh" aria-hidden="false" style="color:black;"></span></a>
		</button>
		<br>
		<br>
	</div>
</div>