/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
 	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	padding-top: 50px;
 }

 .captionbox{
 	display:block;
 	background-color:#7DAE22;
 	padding: 17px;
 	color:white;
 	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	margin:0;
 	text-align:center;
 }

 .footerbox{
 	display:block;
 	background-color:#7DAE22;
 	padding: 17px;
 	padding-bottom: 150px;
 	color:white;
 	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	margin:0;
 	text-align:center;
 }

/* .menuli{
 	color: black; 
 }*/

 .footerbox a{
 	color: white;
 }


/* .img-repsonsive{
 	width: 267px;
 	height: 50px;
 }*/

 .portpoint{
 	list-style-type: none;
 }

 #catchphrase1{
 	font-size: 80px;
 	margin-bottom: 200px;
 }

.scroll {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 4px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 10;
    text-align: center;
    margin-bottom: 100px;
}

.scroll-indicator {
    width: 20px;
    height: 20px;
    margin: 11px auto;
    border-right: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    border-bottom-right: 2px;
    transform: rotate(45deg);
}

 ul a{
 	color: black; 
 }

 a{
 	color: white;
 }

 a:hover{
 	color: white;
 }

 @media all and (min-width: 991px){

 	#menulogo{
 		background-color: #7BAD37;
 		margin-bottom: -22px;
 		margin-top: -15px;
 		margin-right: -15px;
 		margin-top: -7px;
 	}

 	#menulogo a:hover{
 		background-color: #7BAD37;
 	}

/* 	.menuli{
 		margin-right: 5px;
 		padding-left: 15px;
 		margin-top: 11px;
 		color: black; 
 	}*/

 	#catchphrase1{
 		font-size: 80px;
 		margin-bottom: 200px;
 	}
 }

 @media all and (max-width: 992px){
 	#menulogo{

 	}

/* 	.menuli{
 		color: black; 
 	}*/

 	#catchphrase1{
 		font-size: 40px;
 	}

 	#menulogo a:hover{
 		background-color: #7BAD37;
 	}
 }

 @media all and (max-width: 600px){

 	#catchphrase1{
 		font-size: 20px;
 	}

 }

 @media all and (max-width: 767px){
 	#menulogo{
 		margin-right: -15px;
 	}
 }